<!-- <style>
  html {
    scroll-behavior: smooth;
  }
  #home {
    height: auto;
  }
  #service {
    height: auto;
  }
  #car {
    height: auto;
  }
  #about {
    height: auto;
  }
</style> -->

<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="img/fav.png">
  <meta name="author" content="codepixer">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta charset="UTF-8">
  <title>Car Rentals</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  <style type="linearicons.css"></style>
  <style type="linearicons.css"></style>
  <style type="font-awesome.min.css"></style>
  <style type="bootstrap.css"></style>
  <style type="magnific-popup.css"></style>
  <style type="nice-select.css"></style>
  <style type="animate.min.css"></style>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <style type="owl.carousel.css"></style>
  <style type="main.css"></style>
  </head>
  <body>
    <header id="header" id="home">
      <div class="container">
        <div class="row align-items-center justify-content-between d-flex">
          <div id="logo">
            <a href="/"><%= image_tag("logo.png") %></a>
          </div>
          <nav id="nav-menu-container">
            <ul class="nav-menu">
              <li class="menu-active"><a>Home</a></li>
              <li><a>Service</a></li>
              <li><a>About</a></li>
              <li><a>Cars</a></li>
              <li><a>Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <section class="banner-area relative" id="home">
      <div class="overlay overlay-bg"></div>
      <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-center">
          <div class="banner-content col-lg-7 col-md-6 ">
            <h6 class="text-white ">the Royal Essence of Journey</h6>
            <h1 class="text-white text-uppercase">
              Relaxed Journey Ever
            </h1>
            <p class="pt-20 pb-20 text-white">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <a class="primary-btn text-uppercase">Rent Car Now</a>
          </div>
          <div class="col-lg-5  col-md-6 header-right" id="send_mail">
            <h4 class="text-white pb-30">Book Your Car Today!</h4>
            <%= form_for(:page, url: page_contact_path) do |f| %>
              <div class="form-group">
                <div class="default-select" id="default-select">
                  <select name="car">
                    <option value="" disabled selected hidden>Select Your Car</option>
                    <option value="1">Swift</option>
                    <option value="1">Tavera</option>
                    <option value="1">Toyota</option>
                    <option value="1">Innova</option>
                    <option value="1">Scorpio</option>
                    <option value="1">Bolero</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6 wrap-left">
                  <div class="default-select" id="default-select">
                    <select name="pickup_location">
                      <option value="" disabled selected hidden>Pickup</option>
                      <option value="1">Pune</option>
                      <option value="1">Mumbai</option>
                      <option value="1">Nashik</option>
                      <option value="1">Shirdi</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6 wrap-right">
                  <div class="default-select" id="default-select">
                    <select name="drop_location">
                      <option value="" disabled selected hidden>Drop off</option>
                      <option value="1">Drop off One</option>
                      <option value="1">Drop off Two</option>
                      <option value="1">Drop off Three</option>
                      <option value="1">Drop off Four</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="from-group">
                <%= f.text_field :message, class: "form-control txt-field", placeholder: "Message Here Max(100) Words" %>
                <%= f.text_field :name, class: "form-control txt-field", placeholder: "Your Name" %>
                <%= f.text_field :email, class: "form-control txt-field", placeholder: "Email Address" %>
                <%= f.text_field :contact, class: "form-control txt-field", placeholder: "Contact Number" %>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <%= f.submit class: "btn btn-default btn-lg btn-block text-center text-uppercase"%>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </section>

    <section class="feature-area section-gap" id="service">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-md-8 pb-40 header-text">
            <h1>What Services we offer to our clients</h1>
            <p>
              Who are in extremely love with eco friendly system.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="single-feature">
              <h4><span class="lnr lnr-user"></span>Expert Technicians</h4>
              <p>
                Each technician receives over 200 hours of training every year
                Every one of our HVAC technicians is certified in their specialty by the best Technician Excellence organization.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="single-feature">
              <h4><span class="lnr lnr-license"></span>Professional Service</h4>
              <p>
                Usage of the Internet is becoming more common due to rapid advancement of technology and power.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="single-feature">
              <h4><span class="lnr lnr-phone"></span>Great Support</h4>
              <p>
                A specially trained team is available 24/7. Reach them in the app, day or night, with any questions or safety concerns.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="single-feature">
              <h4><span class="lnr lnr-rocket"></span>Technical Skills</h4>
              <p>
                Usage of the Internet is becoming more common due to rapid advancement of technology and power.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="single-feature">
              <h4><span class="lnr lnr-diamond"></span>Highly Recomended</h4>
              <p>
                Usage of the Internet is becoming more common due to rapid advancement of technology and power.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="single-feature">
              <h4><span class="lnr lnr-bubble"></span>Positive Reviews</h4>
              <p>
                Usage of the Internet is becoming more common due to rapid advancement of technology and power.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="home-about-area" id="about">
      <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-6 no-padding home-about-left">
            <a href=""><%= image_tag("wp4016425-mahindra-xuv500-wallpapers.jpg") %></a>
          </div>
          <div class="col-lg-6 no-padding home-about-right">
            <h1>Globally Connected <br>
            by Large Network</h1>
            <p>
              <span>We are here to listen from you deliver exellence</span>
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
            </p>
            <a class="text-uppercase primary-btn">get details</a>
          </div>
        </div>
      </div>
    </section>

    <section class="model-area section-gap" id="cars">
      <div class="container">
        <div class="row d-flex justify-content-center pb-40">
          <div class="col-md-8 pb-40 header-text">
            <h1 class="text-center pb-10">Choose your Desired Car Model</h1>
            <p class="text-center">
              Who are in extremely love with eco friendly system.
            </p>
          </div>
        </div>
        <div class="active-model-carusel">
          <div class="row align-items-center single-model item">
            <div class="col-lg-6 model-left">
              <div class="title justify-content-between d-flex">
                <h4 class="mt-20">Innova</h4>
                <h2>Rs.13<span>/Km</span></h2>
              </div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <p>
                Capacity         : 04 Person <br>
                Doors            : 04 <br>
                Air Condition    : Dual Zone <br>
                Transmission     : Automatic
              </p>
              <a class="text-uppercase primary-btn">Book This Car Now</a>
            </div>
            <div class="col-lg-6 model-right">
              <a href=""><%= image_tag("wp3119966-innova-wallpapers.jpg") %></a>
            </div>
          </div>
          <div class="row align-items-center single-model item">
            <div class="col-lg-6 model-left">
              <div class="title justify-content-between d-flex">
                <h4 class="mt-20">Scorpio</h4>
                <h2>Rs.11<span>/Km</span></h2>
              </div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <p>
                Capacity         : 06 Person <br>
                Doors            : 05 <br>
                Air Condition    : Single Zone <br>
                Transmission     : Automatic
              </p>
              <a class="text-uppercase primary-btn" onclick="send_mail_popup()" href="#home">Book This Car Now</a>
            </div>
            <div class="col-lg-6 model-right">
              <a href=""><%= image_tag("wp4031484-mahindra-scorpio-vlx-wallpapers.jpg") %></a>
            </div>
          </div>
          <div class="row align-items-center single-model item">
            <div class="col-lg-6 model-left">
              <div class="title justify-content-between d-flex">
                <h4 class="mt-20">Swift</h4>
                <h2>Rs.10<span>/Km</span></h2>
              </div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <p>
                Capacity         : 04 Person <br>
                Doors            : 04 <br>
                Air Condition    : Single Zone <br>
                Transmission     : Automatic
              </p>
              <a class="text-uppercase primary-btn" href="#home">Book This Car Now</a>
            </div>
            <div class="col-lg-6 model-right">
              <a href=""><%= image_tag("wp2681453-swift-car-wallpapers.jpg") %></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Start fact Area -->
    <section class="facts-area section-gap" id="facts-area">
      <div class="container">
        <div class="row">
          <div class="col single-fact">
            <h1 class="counter">2536</h1>
            <p>Projects Completed</p>
          </div>
          <div class="col single-fact">
            <h1 class="counter">6784</h1>
            <p>Really Happy Clients</p>
          </div>
          <div class="col single-fact">
            <h1 class="counter">1059</h1>
            <p>Total Tasks Completed</p>
          </div>
          <div class="col single-fact">
            <h1 class="counter">2239</h1>
            <p>Cups of Coffee Taken</p>
          </div>
          <div class="col single-fact">
            <h1 class="counter">435</h1>
            <p>In House Professionals</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Start blog Area -->
    <section class="callaction-area relative section-gap">
      <div class="overlay overlay-bg"></div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <h1 class="text-white">Experience Great Support</h1>
            <p>
                Clients and customers love the taste of good products and services on a regular basis. However, there is one more thing that they cherish and expect from their beloved brands—competent customer service.
            </p>
            <a class="callaction-btn text-uppercase">Reach Our Support Team</a>
          </div>
        </div>
      </div>
    </section>

    <section class="blog-area section-gap" id="blog">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="menu-content pb-70 col-lg-8">
            <div class="title text-center">
              <h1 class="mb-10">Latest From Our Blog</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6 single-blog">
            <div class="thumb">
              <a><%= image_tag("b1.jpg") %></a>
            </div>
            <p class="date">10 Jan 2018</p>
            <a><h4>Addiction When Gambling
            Becomes A Problem</h4></a>
            <p>
              inappropriate behavior ipsum dolor sit amet, consectetur.
            </p>
            <div class="meta-bottom d-flex justify-content-between">
              <p><span class="lnr lnr-heart"></span> 15 Likes</p>
              <p><span class="lnr lnr-bubble"></span> 02 Comments</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 single-blog">
            <div class="thumb">
              <a><%= image_tag("b2.jpg") %></a>
            </div>
            <p class="date">10 Jan 2018</p>
            <a><h4>Addiction When Gambling
            Becomes A Problem</h4></a>
            <p>
              inappropriate behavior ipsum dolor sit amet, consectetur.
            </p>
            <div class="meta-bottom d-flex justify-content-between">
              <p><span class="lnr lnr-heart"></span> 15 Likes</p>
              <p><span class="lnr lnr-bubble"></span> 02 Comments</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 single-blog">
            <div class="thumb">
              <a><%= image_tag("b3.jpg") %></a>
            </div>
            <p class="date">10 Jan 2018</p>
            <a><h4>Addiction When Gambling
            Becomes A Problem</h4></a>
            <p>
              inappropriate behavior ipsum dolor sit amet, consectetur.
            </p>
            <div class="meta-bottom d-flex justify-content-between">
              <p><span class="lnr lnr-heart"></span> 15 Likes</p>
              <p><span class="lnr lnr-bubble"></span> 02 Comments</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 single-blog">
            <div class="thumb">
              <a><%= image_tag("b4.jpg") %></a>
            </div>
            <p class="date">10 Jan 2018</p>
            <a><h4>Addiction When Gambling
            Becomes A Problem</h4></a>
            <p>
              inappropriate behavior ipsum dolor sit amet, consectetur.
            </p>
            <div class="meta-bottom d-flex justify-content-between">
              <p><span class="lnr lnr-heart"></span> 15 Likes</p>
              <p><span class="lnr lnr-bubble"></span> 02 Comments</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End blog Area -->

    <footer class="footer-area section-gap">
      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-6 col-sm-6">
            <div class="single-footer-widget">
              <h6>Quick links</h6>
              <ul>
                <li><a>Jobs</a></li>
                <li><a>Brand Assets</a></li>
                <li><a>Investor Relations</a></li>
                <li><a>Terms of Service</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 col-sm-6">
            <div class="single-footer-widget">
              <h6>Features</h6>
              <ul>
                <li><a>Jobs</a></li>
                <li><a>Brand Assets</a></li>
                <li><a>Investor Relations</a></li>
                <li><a>Terms of Service</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 col-sm-6">
            <div class="single-footer-widget">
              <h6>Resources</h6>
              <ul>
                <li><a>Jobs</a></li>
                <li><a>Brand Assets</a></li>
                <li><a>Investor Relations</a></li>
                <li><a>Terms of Service</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 col-sm-6 social-widget">
            <div class="single-footer-widget">
              <h6>Follow Us</h6>
              <p>Let us be social</p>
              <p>vishal@gmail.com</p>
              <div class="footer-social d-flex align-items-center">
                <a><i class="fa fa-facebook"></i></a>
                <a><i class="fa fa-twitter"></i></a>
                <a><i class="fa fa-dribbble"></i></a>
                <a><i class="fa fa-behance"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4  col-md-6 col-sm-6">
            <div class="single-footer-widget">
              <div class="contact-details">
                <h6>Vishal, Pune</h6>
                <p>Pune, Maharashtra</p>
                <p>+91 848 580 7059</p>
                <p>Mon to Fri 9am to 6 pm</p>
                <p>Send us your query anytime!</p>
              </div>
            </div>
          </div>
          <p class="mt-50 mx-auto footer-text col-lg-12">
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
